// ==========================================================================
// Global Config
// ==========================================================================

//==================================
// FONT PRESETS
//==================================
$font-url--googleSans   : 'https://fonts.googleapis.com/css?family=Josefin+Sans';
$font-url--googleSerif  : 'https://fonts.googleapis.com/css?family=Playfair+Display';


@import url($font-url--googleSans);
@import url($font-url--googleSerif);

//Font Weight Presets
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

//Font Stacks
$font-family--primary: 'Josefin Sans', sans-serif;
$font-family--secondary: 'Playfair Display', serif;

//==================================
// DESCRIPTIVE BASE COLORS
//==================================

//blues
$pictonBlue  : #4FC3F7;
$cerulian    : #03A9F4;
$lochmara    : #0288D1;

//greens
$deYork      : #81C784;
$fruitSalad  : #4CAF50;
$apple       : #388E3C;

//oranges
$salmon		 : #FF8A65;
$orange 	 : #FF5722;
$cinnabar    : #E64A19;

//==================================
// COLOR USAGE
//==================================
$white       : #FFF;
$black       : #000;
$grey        : #616161;

$primary-color     : $cerulian;
$secondary-color   : $lochmara;
$tertiary-color    : $orange;

$link-color 	   : lighten($tertiary-color, 25%);


// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

$h2-font-size    : 46px;
$h3-font-size    : 32px;
$h4-font-size    : 20px;
$h5-font-size    : 16px;
$h6-font-size    : 12px;

// Border radius

$br--default    : .4em;
$br--round      : 50%;

// Transitions

$trns-duration  : .3s;

// Path to Assets

$path--rel      : "../assets";

// Breakpoints

$brkpoint-sm    : 1px;
$brkpoint-md    : 775px;
$brkpoint-lg    : 1025px;
$brkpoint-xlg   : 1400px;

